# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/

# Swift Package Manager
.build/
Package.resolved

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# iOSInjectionProject
iOSInjectionProject/

# Claude Code
.claude/

# OS
.DS_Store
